<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/16018bb78d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="shortcut icon" href="/images/logo-mercado-liebre.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home">

    <header class="home_header">
        <div class="home__header--box">
            <div class="home_header_encabezado">
                <div class="home_header_encabezado--logo">
                    <img id="modo" src="/images/logo-mercado-liebre.svg" alt="logo">
                </div>
                <div class="home_header_encabezado--barra">
                    <form class="home_header_encabezado--form" action="#" method="post" target="_blank">
                        <input class="home_header_encabezado--form--input" type="search"
                            placeholder="Buscar productos, marcas">
                        <div class="home_header_encabezado--btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </form>
                </div>

            </div>
            <p class="home_header_encabezado--compra--p"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i> Comprá
                en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="home_header--menu">
            <ul class="home_header_menu--opciones">
                <li><a href="/">Home</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="home_header_menu--login">
                <li><a href="#">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i><br></li>
                <li><a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i><br></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="home_header_burger--menu">
            <a href="/"><i class="fas fa-bars"></i></a>
        </div>
    </header>

    <main class="home--main">
        <div class="home_main_banner">
            <img src="/images/img-home-banner.jpg" alt="">
        </div>

        <h3>Basado en tu última visita</h3>
        <div class="home_main_visita">
            <article class="home__main__article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <div class="home__main__section--article">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="home_main_visita--precio">$6.770 </h4>
                    <p class="home_main_visita--descuento">40% OFF </p>
                    <p class="home_main--descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="home__main__article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="home__main__section--article">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="home_main_visita--precio">$230.000 </h4>
                    <p class="home_main_visita--descuento"> 20% off </p>
                    <p class="home_main--descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="home__main__article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="home__main__section--article">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="home_main_visita--precio">$70.500</h4>
                    <p class="home_main_visita--descuento">10% off</p>
                    <p class="home_main--descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="home__main__article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="home__main__section--article">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="home_main_visita--precio">$23.200 </h4>
                    <p class="home_main_visita--descuento">5% off</p>
                    <p class="home_main--descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </div>
        <h3>Ofertas</h3>
        <div class="home_main_ofertas">
            <article class="home__main__article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <div class="home__main__section--article">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="home_main_ofertas--precio">$6.770 </h4>
                    <p class="home_main_ofertas--descuento">40% OFF </p>
                    <p class="home_main--descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="home__main__article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="home__main__section--article">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="home_main_ofertas--precio">$230.000</h4>
                    <p class="home_main_ofertas--descuento">20% off </p>
                    <p class="home_main--descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="home__main__article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="home__main__section--article">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="home_main_ofertas--precio">$70.500</h4>
                    <p class="home_main_ofertas--descuento">10% off</p>
                    <p class="home_main--descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="home__main__article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="home__main__section--article">
                    <i class="fa-solid fa-truck"></i>
                    <h4 class="home_main_ofertas--precio">$23.200 </h4>
                    <p class="home_main_ofertas--descuento">5% off</p>
                    <p class="home_main--descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </div>
    </main>
    <footer class="home_footer">

        <article class="home_footer_paga">
            <i class="fa-solid fa-credit-card"></i>
            <h4 class="home_footer_paga_titulo">Pagá con tarjeta o en efectivo</h4>
            <p class="home_footer_paga_p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>


        <article class="home_footer_envio">
            <i class="fa-sharp fa-solid fa-gift"></i>
            <h4 class="home_footer_envio--titulo">Envío gratis desde $ 2.500</h4>
            <p class="home_footer_envio--p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>


        <article class="home_footer_seguridad">
            <i class="fa-solid fa-user-shield"></i>
            <h4 class="home_footer_seguridad--titulo">Seguridad, de principio a fin</h4>
            <p class="home_footer_seguridad--p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer,
                porque estás siempre protegid@.</p>
        </article>

        <p class="home_footer_p">Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>