<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="mercado liebre">
        <nav>
            <ul>
                <li><a href="#">ofertas</a></li>
                <li><a href="#">tiendas oficiales</a></li>
                <li><a href="#">vender</a></li>
                <li><a href="#">ayuda</a></li>
                <li><a href="#">creá tu cuenta</a></li>
                <li><a href="#">ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
        <img src="/images/img-home-banner.jpg" alt="banner">

    </header>

    <main>
        <section style="display: flex; justify-content: center;">
            <h1>Basado en tu última visita</h1>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
            <p>$6770</p>
            <p>40% OFF</p>
            <p><strong>Cafetera Moulinex </strong></p>
            <img src="/images/img-macbook-pro-2019.jpg" alt="mac book">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p><strong>MacBook Pro 2019</strong></p>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
            <p>$70.500</p>
            <p>10% off</p>
            <p><strong>Samsung Galaxy S10</strong></p>
            <img src="/images/img-tv-samsung-smart.jpg" alt="samsung smart">
            <p>$23.200</p>
            <p>5% off</p>
            <p><strong>SmartTv Samsung 43"</strong></p>
        </section>
        <section style="display: flex; justify-content: center;">
            <h1>Sección de Ofertas</h1>
            <h1>Basado en tu última visita</h1>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
            <p>$6770</p>
            <p>40% OFF</p>
            <p><strong>Cafetera Moulinex </strong></p>
            <img src="/images/img-macbook-pro-2019.jpg" alt="mac book">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p><strong>MacBook Pro 2019</strong></p>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
            <p>$70.500</p>
            <p>10% off</p>
            <p><strong>Samsung Galaxy S10</strong></p>
            <img src="/images/img-tv-samsung-smart.jpg" alt="samsung smart">
            <p>$23.200</p>
            <p>5% off</p>
            <p><strong>SmartTv Samsung 43"</strong></p>
        </section>
    </main>

    <footer>

        <h1><strong>Pagá con tarjeta o en efectivo</strong></h1>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <h1><strong>Envío gratis desde $ 2.500</strong></h1>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <h1><strong>Seguridad, de principio a fin</strong></h1>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
        <h1><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></h1>
    </footer>
</body>
</html>