<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/16018bb78d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home" style="border-radius: 5px;">
    <header class="home_header">
        <div class="home__header--box">
            <div class="home_header_encabezado">
                <div class="home_header_encabezado--logo">
                    <img id="modo" src="/images/logo-mercado-liebre.svg" alt="logo">
                </div>
                <div class="home_header_encabezado--barra">
                    <form class="home_header_encabezado--form" action="#" method="post" target="_blank">
                        <input class="home_header_encabezado--form--input" type="search"
                            placeholder="Buscar productos, marcas">
                        <div class="home_header_encabezado--btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </form>
                </div>

            </div>
            <p class="home_header_encabezado--compra--p"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i> Comprá
                en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="home_header--menu">
            <ul class="home_header_menu--opciones">
                <li><a href="/">Home</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="home_header_menu--login">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i><br></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i><br></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="home_header_burger--menu">
            <a href="/"><i class="fas fa-bars"></i></a>
        </div>
    </header>

    <main class="login__main">

        <form class="login__main--form" action="/my-handling-form-page" method="post">
            <ul>
                <li class="login__main--userName">
                    <label for="user__name">Nombre de usuario:</label>
                    <input type="text" id="user__name" name="user__name" placeholder="Nombre de usuario">
                </li>
                <li class="login__main--contraseña">
                    <label class="login__main--labelcontraseña" for="user__contraseña">Contraseña:</label>
                    <input class="login__main--inputContraseña" type="password" id="user__contraseña"
                        name="user__contraseña" placeholder="Contraseña">
                </li>
                <li class="login__main__botonBox">
                    <button class="login__main__boton" type="submit"><a href="/home">Enviar</a></button>
                </li>
            </ul>
        </form>
    </main>

    <footer class="home_footer">
        <div class="home__footer--gifter">
            <article class="home_footer_paga">
                <i class="fa-solid fa-credit-card"></i>
                <h4 class="home_footer_paga_titulo">Pagá con tarjeta o en efectivo</h4>
                <p class="home_footer_paga_p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="home_footer_envio">
                <i class="fa-sharp fa-solid fa-gift"></i>
                <h4 class="home_footer_envio--titulo">Envío gratis desde $ 2.500</h4>
                <p class="home_footer_envio--p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="home_footer_seguridad">
                <i class="fa-solid fa-user-shield"></i>
                <h4 class="home_footer_seguridad--titulo">Seguridad, de principio a fin</h4>
                <p class="home_footer_seguridad--p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                    hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </div>
        <p class="home_footer_p">Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>