.home_footer_seguridad {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_footer_p {
  display: flex;
  justify-content: center;
}

body.home .home_footer {
  margin-top: 50px;

  text-align: center;
}

body.home .home_footer h4 {
  margin: 0;
  color: var(--colorGrisOscuro);
}

.home_footer p {
  font-size: 12px;
  color: var(--colorGrisOscuro);
  margin: 0 35px 50px;
}

body.home .home_footer i {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--colorCeleste);
}
body.home .home_footer_p {
  text-align: left;
  margin-left: 10px;
}
.home_footer article {
  max-width: 420px;
  margin: auto;
}
