/* font-family: 'Roboto', sans-serif; */

:root {
  --colorAmarillo: #eac926;
  --colorAzul: #03264c;
  --colorCeleste: #1259c3;
  --colorGrisOscuro: #666;
  --colorGrisClaro: #ebebeb;
  --colorVerde: #39b54a;
}

body.home {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--colorGrisClaro);
}

h3 {
  text-align: left;
  color: var(--colorGrisOscuro);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
