/*header*/
header{
    background-color: var(--Amarillo);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.home__header__logo{
    width: 8rem;
    margin: 1rem;
    padding-top: 1rem;
    padding-left: 0rem;
}
.home__header__buscador__var{
    margin-left: 5px;
}
.home__header__buscador__logo{
    background-color: white;
    padding: 2px;
    margin-left: 5px;
    width: max-content;
    border-radius: 20%;
    border: solid 1px var(--GrisOscuro);
}
.home__header__cuotas{
    text-align: center;
    font-size: var(--textCuerposDeTexto);
    margin-top: 10px;
    margin-bottom: 20px;
}
.home__header__nav{
    font-size: var(--textCuerposDeTexto);
}
.home__header__lognav{
    padding-top: 12px;
    font-size: var(--textCuerposDeTexto);
}
.home__header__burgermenu__box{
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 100vw;
    border-radius: 20%;
    background-color: var(--Celeste);
    color: white;
    border-radius: 10%;
    padding: 10px 10px 10px 10px;
}

.home__header__banner{
    width: 100vw;
    height: 30vw;
    padding: 0;
    margin: 0;
}
.home__header__banner__img{
    width: 100vw;
    height: 30vw;
}