/*main*/
main{
    background-color: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.home__main__section{
    padding: 0 auto;
}
.home__main{
    padding-bottom: 40px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: white;
}
.home__main__section__article__box-image {
    width: 100%;
  }
  .home__main__section__article--box-p {
    border-top: 1px solid var(--colorBordeGris);
    padding: 15px;
  }
  .home__main__section__article--box-p i {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 10px;
  }
.home__main__producto__img{
    width: 100%;
}
.home__main__producto__precio{
    font-size: var(--textPrecios);
}
.home__main__producto__descuento{
    font-size: var(--textDescuentos);
    color: var(--Verde)
}
.home__main__producto__descripcion{
    font-size: var(--textDescripciones);
    margin: 0;
    padding: 2px;
}
@media (min-width: 481px) {
    /* main */
    .home__main__section__article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .home__main__section__article--product {
      font-size: var(--fontSizeDescripciones);
      display: block;
    }
}