.home_main_banner {
  width: 100%;
}
.home--main h3 {
  margin-left: 5%;
}

.home__main__article {
  margin: 0 auto 10px;
  color: var(--colorGrisOscuro);
  background-color: #ffffff;
  border-radius: 10px;
}

.home_main_visita{
  width: 90%;
  margin: auto;
}
.home_main_ofertas {
  width: 90%;
  margin: auto;
}
.home_main_visita--precio{
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  color: var(--colorGrisOscuro);
  width: 30%;
}
.home_main_ofertas--precio {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  color: var(--colorGrisOscuro);
  width: 30%;
}
.home_main_visita--descuento{
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: var(--colorVerde);
  text-align: center;
  padding-bottom: 5px;
  width: 70%;
}
.home_main_ofertas--descuento {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: var(--colorVerde);
  text-align: center;
  padding-bottom: 5px;
  width: 70%;
}
.home_main--descripcion {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding-top: 5px;
  display: none;
}
.home__main__section--article {
  display: flex;
  border-top: solid 1px #ebebeb;
  padding: 15px;
  flex-wrap: wrap;
  position: relative;
}

.home__main__article i {
  display: block;
  font-size: 16px;
  padding: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid #0a5a15;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  color: #0a5a15;
  text-align: center;
}

.home_main_visita--descripcion {
  color: var(--colorGrisOscuro);
}


/* media query para tablets con corte de 480 */

@media (min-width: 480px) {
  /* header */
  .home_header_encabezado--btn i {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 16px;
    border-left: 1px solid var(--colorGrisOscuro);
  }
  /* main */
  .home_main_visita{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
  }
  .home_main_ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
  }
  .home_main--descripcion {
    display: block;
  }
  .home_main_ofertas--descuento{
    text-align: center;
  }
  .home_main_visita--descuento {
    text-align: center;
  }

  .home__main__article {
    width: 42%;
    margin: 0 auto 10px;
    color: var(--colorGrisOscuro);
    background-color: #ffffff;
  }
  .home_main--descripcion {
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
  }
  .home__main__article:hover .home_main--descripcion {
    height: 20px;
  }

  .home_main__article {
    transition: all 1s ease;
  }
  .home__main__article:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0);
  }
  .home__main__section--article i:hover {
    animation: rotate 2s linear;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  /* footer */
  .home_footer_seguridad {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home_footer_p {
    display: flex;
    justify-content: center;
  }
}
/* desktop se realiza corte en 775*/
@media (min-width: 775px) {
  /* header */
  .home_header_encabezado--btn i {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 16px;
    border-left: 1px solid var(--colorGrisOscuro);
  }
  /* main */
  .home--main h3 {
    margin-left: 2%;
  }
  .home__main__article {
    width: 22%;
  }
  .home_main_visita--descuento{
    text-align: right;
  }
  .home_main_ofertas--descuento {
    text-align: right;
  }

  /* footer */
  .home__footer--gifter {
    display: flex;
    flex-direction: row;
  }
  .home_footer_seguridad {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home_footer_p {
    display: flex;
    justify-content: center;
  }
}
